.message-blog {
    background-color: white;
    padding: 15px 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 30px;
}