.content {
  width: 900px;
  height: 800px;
  margin-top: 150px;
  border: 2px solid black;
  background-color: goldenrod;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.message-blog-title {
  position: relative;
  top: 600px;
  left: 30px;
  font-weight: 600;
}

.content form input {
  position: relative;
  top: 600px;
  left: 30px;
  background-color: white;
  outline: none;
}
.content form input:nth-child(1) {
  width: 90%;
  height: 15%;
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
}

.content form input:nth-child(2) {
  top: 580px;
  display: block;
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px 25px;
}

.content input::placeholder {
  font-size: 1.3rem;
}

i {
  position: relative;
  top: 556px;
  left: 50px;
}
