<section class="content">
    <h2 class="current-discussion-title">{{currentTheme}}</h2>
    <ul class="messages-list" *ngFor="let message of messages">
        <app-message [message]="message"></app-message>
    </ul>
    <p class="message-blog-title">Share your opinion:</p>
    <form>
        <input type="text" #elementInput placeholder="Enter your message here">
        <input type="submit" value="Submit message" (click)="messageSubmitHandler($event,elementInput)">
        <i class="fas fa-play"></i>
    </form>
</section>